@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

.home > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid black 1px;
}
/* display: grid; */
/* grid-template-columns: 1fr 1fr 1fr 1fr; */
/* grid-gap: 25px; */
/* padding: 20px; */

.header-input {
  width: 630px;
  height: 40px;
  border-radius: 10px;
  border: #2aaeb7 solid;
}

.header button {
  height: 40px;
  border-radius: 10px;
  border: solid 1px #2aaeb7;
  color: #2aaeb7;
  background-color: white;
}

.header .sale {
  background-color: #2aaeb7;
  color: white;
}

.sale:hover {
  cursor: grab;
}
.header button:hover {
  cursor: grabbing;
}

.signup h1 {
  text-align: center;
}

.condition {
  font-size: 10px;
  color: rgb(207, 206, 206);
}

.submit {
  height: 30px;
  border-radius: 10px;
  border: solid 1px #2aaeb7;
  color: white;
  background-color: #2aaeb7;
}

.connecter {
  height: 30px;
  border-radius: 10px;
  border: solid 1px #2aaeb7;
  color: white;
  background-color: #2aaeb7;
}

.login {
  color: #2aaeb7;
  text-decoration: none;
}

.signup {
  color: #2aaeb7;
  text-decoration: none;
}
